<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tvts-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tvts-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tvts-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tvts-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TvtsDbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=us-cdbr-azure-east-b.cloudapp.net;user id=bdfdd1e81e01f8;password=a7820a0f;database=TvtsDb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TvtsDbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TvtsDataModel.csdl|res://*/TvtsDataModel.ssdl|res://*/TvtsDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=us-cdbr-azure-east-b.cloudapp.net;user id=bdfdd1e81e01f8;password=a7820a0f;database=TvtsDb&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TvtsEntity" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="sslmode=Required;server=us-cdbr-azure-east-b.cloudapp.net;user id=bdfdd1e81e01f8;password=a7820a0f;database=TvtsDb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TvtsEntity_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TvtsEntityDataModel.csdl|res://*/TvtsEntityDataModel.ssdl|res://*/TvtsEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;sslmode=Required;server=us-cdbr-azure-east-b.cloudapp.net;user id=bdfdd1e81e01f8;password=a7820a0f;database=TvtsDb&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>